{
  "overrides": [
    {
      "files": "src/**/*.mdx",
      "options": {
        "printWidth": 1400,
        "bracketSameLine": true
      }
    }
  ],
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
